/Evil-Reddit*
/web/assets/background.png
/web/js/*.js
/web/js/reddit.js.LICENSE.txt

/web/.pnp.*
/web/.yarn/*
!/web/.yarn/patches
!/web/.yarn/plugins
!/web/.yarn/releases
!/web/.yarn/sdks
!/web/.yarn/versions
