.album {
	display: flex;
	overflow: hidden;
	position: relative;
}

.album-collection {
	padding: 0;
	margin: 0;
}

.album-collection > li {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	transition: left 500ms;
}

.album-collection > li > img {
	object-fit: contain;
	width: inherit;
	height: inherit;
}

.album-control-left, .album-control-right {
	position: absolute;
	height: 100%;
	width: 50px;
	transition-duration: 100ms;
}

.album-control-left:hover, .album-control-right:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.album-control-left {
	left: 0;
}

.album-control-right {
	right: 0;
}

.album-arrow {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 50%;
	padding: 10px;
	margin-top: -15px;
	border: solid white;
	border-width: 0 0 2px 2px;
	border-radius: 2px;
}

.album-right {
	right: 15px;
	transform: rotate(225deg);
}

.album-left {
	left: 15px;
	transform: rotate(45deg);
}
