body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	background-color: black;
}

#main {
	width: 100vw;
	height: 100vh;
	background: url("../assets/background.png") no-repeat;
	background-size: 100%;
	color: white;
}

#searchbar {
	width: 20%;
	padding-top: 10%;
	margin: auto;
	text-align: center;
}

#searchbar > label {
	font-size: 5em;
	font-family: "Noto Sans JP";
	writing-mode: vertical-rl;
	color: white;
	opacity: 1;
	transition: opacity 0.5s;
	padding-bottom: 20px;
}

#searchbar > input {
	width: 100%;
	height: 40pt;
	padding: 0;
	color: white;
	background-color: transparent;
	text-align: center;
	font-size: 20pt;
	font-family: "Jura";
	border: none;
	border-bottom: 2px solid white;
	outline: none;
	/* Attempt to make text fade from left and right side */
	/* mask-image: linear-gradient(to right, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 0) 100%); */
}

#search-suggestions {
	display: flex;
	justify-content: center;
	font-family: "Jura";
}

#search-suggestions > * {
	margin: 0 10px;
}

#time {
	font-family: "Jura";
	font-size: 1.5em;
}

#services {
	display: flex;
	width: 45%;
	font-family: "Jura";
	margin: auto;
	justify-content: space-between;
}

#services ul {
	list-style: none;
	padding: 0;
}

#services ul::before {
	content: '';
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: white;
	transition-duration: 400ms;
}

#services ul:hover::before {
	height: 0;
}

#services li {
	margin: 10px auto auto 20%;
}

#services li::before {
	content: "";
	position: relative;
	display: inline-block;
	background: white;
	bottom: 0;
	left: 0;
	width: 2px;
	height: 0;
	transition: all 0.1s 0.1s ease;
}

#services li:hover::before {
	height: 40px;
}

#services li > * {
	font-size: 1.3em;
	font-family: "Jura";
	color: white;
	text-decoration: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}


.service-header {
	font-size: 3em;
	white-space: nowrap;
}

.service-header::before {
	content: '「';
	color: red;
}

.service-header::after {
	content: '」';
	color: red;
}


@font-face {
	font-family: "Jura";
	src:
	url("../fonts/Jura/Jura-Regular.ttf"),
	url("../fonts/Jura/Jura-Bold.ttf"),
	url("../fonts/Jura/Jura-Light.ttf"),
	url("../fonts/Jura/Jura-Medium.ttf"),
	url("../fonts/Jura/Jura-SemiBold.ttf");
}

@font-face {
	font-family: "Noto Sans JP";
	src:
	url("../fonts/Noto Sans JP/NotoSansJP-Light.otf");
}
