* {
	margin: auto;
}

body {
	font-family: IBMPlexSans, Arial, sans-serif;
}

#reddit-ribbon {
	display: flex;
	flex-direction: column;
	width: 648px;
}

.pinterested {
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: row !important;
	width: 100% !important;
}

.reddit-post {
	display: flex;
	flex-direction: column;
	background-color: rgb(26, 26, 27);
	margin-top: 0;
	margin-bottom: 10px;
	padding: 8px 4px 4px 4px;
	border-radius: 4px;
}

.reddit-post > h2 {
	color: rgb(215, 218, 220);
	overflow: hidden;
	white-space: nowrap;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	padding: 0 10px;
}

.reddit-post > :nth-child(2) {
	max-height: 512px;
	max-width: 100%;
	margin-top: 8px;
}

.md {
	font-family: Noto Sans, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: rgb(215, 218, 220);
	width: 606px;

	mask-image: linear-gradient(180deg,#000 60%,transparent);
	overflow: hidden;
	padding: 5px 8px 10px;
}

.md h1 {
	font-family: Noto Sans, Arial, sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 8px;
	margin-top: 1.4em;
}

.md p {
	padding: 0.25em 0px;
}

.md hr {
	border-color: rgba(215, 218, 220, 0.2) currentcolor currentcolor;
	border-style: solid none none;
	border-width: 1px 0px 0px;
	border-image: none 100% / 1 / 0 stretch;
	height: 1px;
	margin: 8px 0px;
}

.md a {
	color: rgb(79, 188, 255);
}

.reddit-post > .imgur {
	height: 512px;
}
