@font-face {
	font-family: "Nerd Font";
	src: url("../fonts/Symbols-2048-em Nerd Font Complete.woff2") format("woff2");
}

#status {
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#spinner {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: linear-gradient(to right, #FFF 10%, #FFF0 42%);
	animation: spinner 1.4s infinite linear;
}

#spinner::before {
	content: '';
	width: 50%;
	height: 50%;
	background: #FFF4;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
}

#spinner::after {
	content: '';
	width: 95%;
	height: 95%;
	background: #000;
	border-radius: 50%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@keyframes spinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

body {
	font-family: IBMPlexSans, Arial, sans-serif;
	margin: 0;
	overflow-x: hidden;
	background-color: #030303;
}

body::-webkit-scrollbar {
	width: 1em;
}

.post-content img {
	opacity: 0;
}

.post-content img.lazyloaded {
	transition-duration: 1s;
	opacity: 1;
}

/* Hidden until redesign */
#search {
	width: max-content;
	margin: auto;
}

#search > input {
	width: 300px;
	padding: 10px;
	border: none;
	border-bottom: 1px solid white;
	background-color: transparent;
	color: #FFF;
	text-align: center;
	font-size: 1.4em;
}

#sorting {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -60px;
	margin: auto;
	height: 175px;
	color: gray;
	background-color: rgb(26, 26, 27);
	padding: 20px;

	border-radius: 10px;
	border-right: 2px solid #404040;

	transition: left 300ms;
	z-index: 1;
}

#sorting:hover {
	left: 0;
}

#sorting > div {
	font-family: "Nerd Font";
	font-size: 2em;
	text-align: center;
	line-height: 25px;
	margin-bottom: 25px;
	cursor: pointer;
	transition: 300ms ease;
	transform: scale(1.0);
}

#sorting > div:hover {
	transform: scale(1.3);
}

#hot {
	color: #E25822;
}

#reddit-ribbon {
	margin: 20px auto 0 auto;
}

.ribbon-post {
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: rgb(26, 26, 27);
	margin: 0 0 10px 0;
	padding: 8px 8px 8px 8px;
	border: 1px solid transparent;
	border-radius: 4px;
	width: 400px;
	transition-duration: 400ms;
	transition-property: border;
	contain: content;
}

.ribbon-post:hover {
	border: 1px solid rgb(129, 131, 132);
}

.post-title {
	color: rgb(215, 218, 220);
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	padding: 0 2px;
	margin: 0;
	word-wrap: anywhere;
}

.flair {
	font-size: 0.9em;
	display: inline-flex;
	padding: 0 6px;
	border-radius: 30px;
	margin-right: 5px;
	white-space: nowrap;
}

.flair-dark {
	color: #111;
	background-color: #FFF;
}

.flair-light {
	color: rgb(215, 218, 220);
	background-color: #111;
}

.post-content {
	width: 100%;
	margin: 8px auto 0 auto;
	overflow: hidden;
}

.post-content > * {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.external-link {
	position: relative;
}

.external-link > img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	border: 2px white solid;
	box-sizing: border-box;
	border-radius: 7px;
}

.external-link-icon {
	position: absolute;
	bottom: 3px;
	right: 2px;

	width: 26px;
	height: 26px;
	background-color: white;
	font-family: "Nerd Font";
	font-size: 20px;
	color: black;
	line-height: 26px;
	text-align: center;
	border-radius: 4px;
}

.post-content > img.blur-up {
	filter: blur(5px);
	transition: filter 400ms;
}

.post-content > img.blur-up.lazyloaded {
	filter: blur(0);
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background-color: #0003;
}

#full-post {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	width: 80%;
	height: 94%;
	background-color: rgb(26, 26, 27);

	border-radius: 20px;
	overflow: hidden;
	padding: 20px;
}

#full-post > .post-title {
	flex: 0 0;
	width: 67%;
}

#full-post > .post-content {
	flex: 1 0;
	width: 67%;
	margin: 8px 0 0 0;
}

#full-post > .post-content > .md {
	overflow-y: scroll;
}

#comments {
	flex-basis: 100%;
	width: 30%;

	overflow-y: scroll;
	color: rgb(215, 218, 220);
	line-height: 21px;
	font-size: 14px;
	font-weight: 400;
	font-family: Noto Sans, Arial, sans-serif;
	padding-right: 10px;
}

.comment {
	opacity: 0;
	transition-duration: 100ms;
	padding-bottom: 7px;
}

.comment-author {
	color: white;
	text-decoration: none;
	font-weight: 600;
}

.comment-author:hover {
	text-decoration: underline;
}

.comment-content {

}

.zoom-in {
	height: auto;
	width: 100%;
}

.comment-content .md {
	overflow: hidden;
}

.ribbon-post .md {
	max-height: 350px;
	mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.md {
	width: 100%;
	font-family: Noto Sans, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: rgb(185, 185, 185);
	overflow: hidden;
	border-top: 2px #454545 solid;
}

.md h1 {
	font-family: Noto Sans, Arial, sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 8px;
	margin-top: 1.4em;
}

.md p {
	padding: 0.25em 0px;
}

.md hr {
	border-color: rgba(215, 218, 220, 0.2) currentcolor currentcolor;
	border-style: solid none none;
	border-width: 1px 0px 0px;
	border-image: none 100% / 1 / 0 stretch;
	height: 1px;
	margin: 8px 0px;
}

a {
	color: rgb(79, 188, 255);
}

.external-link {
	overflow: hidden;
	white-space: nowrap;
}
