#status {
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#spinner {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: linear-gradient(to right, #FFF 10%, #FFF0 42%);
	animation: spinner 1.4s infinite linear;
}

#spinner:before {
	content: '';
	width: 50%;
	height: 50%;
	background: #FFF4;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
}

#spinner:after {
	content: '';
	width: 95%;
	height: 95%;
	background: #000;
	border-radius: 50%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@keyframes spinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

body {
	font-family: IBMPlexSans, Arial, sans-serif;
	margin: 0;
	overflow-x: hidden;
	background-color: #030303;
}

#search {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

}

#search > input {
	width: 300px;
	padding: 10px;
	border: none;
	border-bottom: 1px solid white;
	background-color: transparent;
	color: #FFF;
	text-align: center;
	font-size: 1.4em;
}

.reddit-ribbon {
	margin: 70px auto 0 auto;
}

.ribbon-post {
	display: flex;
	flex-direction: column;
	background-color: rgb(26, 26, 27);
	margin: 0 0 10px 0;
	padding: 8px 8px 8px 8px;
	border: 1px solid transparent;
	border-radius: 4px;
	width: 400px;
}

.ribbon-post:hover {
	border: 1px solid rgb(129, 131, 132);
}

.post-title {
	color: rgb(215, 218, 220);
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	padding: 0 2px;
	margin: 0;
}

.flair {
	font-size: 0.9em;
	display: inline-flex;
	padding: 0 6px;
	border-radius: 30px;
	margin-right: 5px;
}

.flair-dark {
	color: #000;
}

.flair-light {
	color: #FFF;
}

.post-content {
	width: 100%;
	margin: 8px auto 0 auto;
	overflow: hidden;
}

.post-content > * {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.post-content > img.blur-up {
	filter: blur(5px);
	transition: filter 400ms;
}

.post-content > img.blur-up.lazyloaded {
	filter: blur(0);
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background-color: #0003;
}

#full-post {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	display: flex;
	flex-flow: column wrap;
	width: 80%;
	height: 90%;
	background-color: rgb(26, 26, 27);

	border-radius: 20px;
	overflow: hidden;
	padding: 20px;
}

#full-post > .post-title {
	flex: 0 0;
	width: 65%;
}

#full-post > .post-content {
	flex: 1 0;
	width: 65%;
	margin: 8px 0 0 0;
}

#comments {
	flex-basis: 100%;
	width: 30%;

	overflow-y: scroll;
	color: rgb(215, 218, 220);
	line-height: 21px;
	font-size: 14px;
	font-weight: 400;
	font-family: Noto Sans, Arial, sans-serif;
}

.comment {

}

.comment-author {
	font-weight: 600;
}

.comment-content {

}

.ribbon-post .md {
	max-height: 350px;
	mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.md {
	width: 100%;
	font-family: Noto Sans, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: rgb(185, 185, 185);
	overflow: hidden;
	border-top: 2px #454545 solid;
}

.md h1 {
	font-family: Noto Sans, Arial, sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 8px;
	margin-top: 1.4em;
}

.md p {
	padding: 0.25em 0px;
}

.md hr {
	border-color: rgba(215, 218, 220, 0.2) currentcolor currentcolor;
	border-style: solid none none;
	border-width: 1px 0px 0px;
	border-image: none 100% / 1 / 0 stretch;
	height: 1px;
	margin: 8px 0px;
}

.md a {
	color: rgb(79, 188, 255);
}
